@model SuporteSF.UI.MVC.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}
<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-3">

            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-9">
                <h1>Minha Conta</h1>
                <div class="content-form-page">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Alterar dados da conta.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <fieldset>
                                    <legend>Seus dados pessoais</legend>
                                    <div class="form-group">
                                        <label for="firstname" class="col-lg-4 control-label">Nome <span class="require">*</span></label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-lg-4 control-label">E-mail <span class="require">*</span></label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Sua Senha</legend>
                                    <div class="form-group">
                                        <label for="password" class="col-lg-4 control-label">Senha <span class="require">*</span></label>
                                        <div class="col-lg-8">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm-password" class="col-lg-4 control-label">Confirme a Senha <span class="require">*</span></label>
                                        <div class="col-lg-8">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                                        <button type="submit" class="btn btn-primary">Alterar</button>
                                        <button type="reset" class="btn btn-default">Cancelar</button>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

