@model IEnumerable<SuporteSF.Application.ViewModels.SuporteViewModel>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SistemaOperacional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemaRecorrente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prioridade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DddTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MelhorHorarioAtendimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlgTermoAceito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtAlteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuarioAlteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtAtendimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtFechamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoSolucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorContribuicao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SistemaOperacional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemaRecorrente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DddTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MelhorHorarioAtendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlgTermoAceito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtAtendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtFechamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoSolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorContribuicao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdSuporte }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdSuporte }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdSuporte })
            </td>
        </tr>
    }

</table>
