@model SuporteSF.Application.ViewModels.SuporteViewModel

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Detalhes do Chamado: @Model.IdSuporte</h3>
    </div>
    <div>

        <div class="form-horizontal  modal-body">
            <table border="0" align="center" cellpadding="0" cellspacing="0" class="table table-striped table-bordered">
                <tr>
                    <td><strong>Data de Abertura:</strong> @Html.DisplayFor(model => model.DtAbertura)</td>
                </tr>
                <tr>
                    <td><strong>Data de Atendimento:</strong> @Html.DisplayFor(model => model.DtAtendimento)</td>
                </tr>
                <tr>
                    <td><strong>Data de Fechamento:</strong> @Html.DisplayFor(model => model.DtFechamento)</td>
                </tr>
                <tr>
                    <td><strong>Descrição do Chamado:</strong> @Html.DisplayFor(model => model.Descricao)</td>
                </tr>
                <tr>
                    <td><strong>Status:</strong> @Html.DisplayFor(model => model.Status)</td>
                </tr>
                <tr>
                    <td><strong>Prioridade:</strong> @Html.DisplayFor(model => model.Prioridade)</td>
                </tr>
                <tr>
                    <td><strong>Sistema Operacional:</strong> @Html.DisplayFor(model => model.SistemaOperacional)</td>
                </tr>
                <tr>
                    <td><strong>Usuário Contribuiu em agradecimento:</strong> @Html.DisplayFor(model => model.ValorContribuicao)</td>
                </tr>
                <tr>
                    <td><strong>Solução para o Problema:</strong> @Html.DisplayFor(model => model.DescricaoSolucao)</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer ">
            <button class="btn  btn-default" data-dismiss="modal" aria-hidden="true">Fechar</button>
        </div>


    </div>
</div>
